* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the header */
header {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  text-align: center; /* Center the text */
  padding: 20px 0; /* Padding top and bottom */
  font-size: 24px; /* Font size for the text */
  font-family: Arial, sans-serif; /* Font style */
}

/* Styling for navigation links */
nav a {
  color: white; /* White text color for links */
  text-decoration: none; /* Remove underline */
  margin: 0 15px; /* Spacing between links */
  font-size: 18px; /* Font size for links */
}

/* On hover, change link color */
nav a:hover {
  color: #ffd700; /* Gold color when hovered */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.card {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-price {
  font-size: 1.2em;
  color: #e67e22;
  margin-bottom: 15px;
}

.card-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.card-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.card-btn:hover {
  background-color: #2980b9;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #333;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.submit-btn {
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}
